define command{
	command_name    check_web_cluster
	command_line    /usr/local/nagios/libexec/check_web_cluster.py
}

define hostgroup{
	hostgroup_name  webservers
	alias           Web Servers
	members         {% for host in groups['webservers'] %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}

}

define service{
	use                 generic-service
	host_name           {% for host in groups['loadbalancer'] %}{{ host }}{% if not loop.last %},{% endif %}{% endfor %}
	
	service_description Web Cluster Health
	check_command       check_web_cluster
	check_interval      1
	retry_interval      0.5
}